*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    background:url(Foto/background3.jpg) no-repeat scroll ;
    background-size: 100% 100%;
    
}

.header {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top : 50px;
    padding-bottom: 30px;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(19, 160, 160);
    color: white;
}

.header h1 {
    font-size: 45px;
}

.header h4 {
    padding: 10px;
    font-size: 20px;
}

.menu {
    overflow: hidden;
    background-color: rgb(31, 102, 182);
    margin-right: 10px;
    margin-left: 10px;
}

.menu a {
    float: left;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.coloumn {
    margin: 20px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 40px;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.card {
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    background: rgba(249, 250, 250, 0.637);
}

.card2 {
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    background: rgba(249, 250, 250, 0.637);
}

.card2 h1{
    padding-right: 10px;
}

.card ul li {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.card ul li a {
    color:rgb(59, 50, 38);
    text-decoration: none;
    font-family: Tahoma;

}

.card ul li a:hover {
    color:white;
}

.card ul li p {
    font-family: Verdana;
}